* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.imgg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.home-slider {
  margin-top: 120px;
  width: 50px;
  /* transform: scale(0.7,0.7); */
}
.home__slider__item {
  opacity: 0.4;
  transition: 0.4s ease all;
  margin: 0 20px;
  transform: scale(0.8);
}

@media (max-width: 1000px) {
  .home__slider__item {
    margin: 0;
    transform: scale(0.9);
  }
}

.active .home__slider__item {
  opacity: 1;
  transform: scale(1);
}

.owl-prev i {
  font-size: 30px;
  background-color: black;
  color: white;
}

.owl-next i {
  font-size: 30px;
  background-color: black;
  color: white;
}

/* HEADER ⬇ */

.header {
  background-color: #101010;
  width: 100%;
  height: 80px;
  display: block;
}
.inner-header {
  width: 100%; /*  some problems */
  height: 100%;
  display: block;
  margin: 0 auto;
  flex-wrap: wrap;
}

.logo-container {
  height: 100%;
  display: table;
  float: left;
}

.logo-container h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 200;
}
.logo-container h1 span {
  font-weight: 800;
}
.navigation {
  float: right;
  height: 100%;
  margin-right: 20px;
}
.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
  font-size: 16px;
}

.navigation a:last-child {
  padding-right: 0;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.inner-header a:hover {
  color: red;
  text-decoration: none;
  font-size: 22px;
}

.hamburger {
  display: none; /* new*/
  background-color: transparent;
  color: #fff;
  border: 0;
  font-size: 22px;
  cursor: pointer;
}
.hamburger:focus {
  outline: none;
}

/* Media Query */
@media screen and (max-width: 700px) {
  .navigation {
    display: none;
    flex-direction: row;
    /* width: 100%; */
  }
  .navigation a {
    color: red;
  }
  .navigation.show {
    display: flex;
  }
  .hamburger {
    height: 100%;
    display: table;
    float: right;
    padding: 0px 20px;
    text-decoration: none;
    font-family: "Montserrat";
  }
}
@media screen and (min-width: 700px) {
  .hamburger {
    display: none;
  }
}

/* @media screen and (min-width : 768px) and (max-width : 1024px) {
  body {
      background: #fff;
      border-top: 2px solid #DDDDDD;
  }
} */

/* HEADER ⬆ */

/* CONTENT */
.content p {
  /* background-color: khaki; */
  height: 600px;
  width: 100%;
  padding: 30% 100px 0 100px;
  text-align: center;
}

.content p a {
  text-decoration: none;
  margin-top: 0;
  color: #101010;
  font-size: bold;
}

.content p a:hover {
  color: red;
  text-decoration: none;
  font-size: 18px;
}

/* FOOTER */

.footer {
  background-color: #101010;
  width: 100%;
  height: 80px;
  display: block;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: "Montserrat";
  font-size: 16px;
  bottom: 0;
  left: 0;
}

/* ABOUT HTML*/
.content-about {
  /* height: 800px; */
  min-height: 100vh;
  width: 100%;
  display: flex;
}
.col {
  width: 100%;
  margin: 10px 2px 0 10px;
}
.about-img img {
  height: auto;
  width: 100%;
}
.about-p {
  overflow: scroll;
}

/* CONTACT */
.contact {
  height: auto; /* change it*/
  width: 100%;
  /* background-color: #434242; */
  min-height: 100vh;
}

.btn-group {
  display: flex;
  width: 100%;
}
.btn {
  border: 2px black solid;
}
.btn-outline-primary {
  height: 100vh;
}
.fa-facebook,
.fa-instagram,
.fa-youtube,
.fa-twitter {
  font-size: xx-large;
}
.btn-ins:hover {
  background-image: linear-gradient(
    45deg,
    #ffdc80,
    #fcaf45,
    #f56040,
    #e1306c,
    #c13584,
    #5851d8
  );
}

.btn-youtube:hover {
  background-color: red;
}
.btn-twit:hover {
  background-color: #1da1f2;
}
